  #newsletter {

    .box {
      background-color: rgba(238, 232, 232, 0.188);
      border-radius: 25px;
      display: flex;
      align-content: center;
      border: 1px solid var(--tertiary-color-plant, rgb(249, 249, 249));
      padding: 5px;
      margin-bottom: 2.5rem;
    }

    input {
      color: white;
      background-color: transparent;
      border: none;
      overflow: hidden;
      height: 40px;
      font-weight: 500;
      flex: 1;
      padding: 20px;
      font-size: 1.35rem;

      &:focus {
        outline: none;
        border: none !important;
      }

      &::placeholder {
        opacity: 0.4;
        color: white;
      }
    }

    button {
      border: none;
      background-image: linear-gradient(
        to right,
        rgba(42, 245, 152, 1),
        rgba(0, 158, 253, 1)
      );
      height: 40px;
      border-radius: 25px;
      &:hover {
        opacity: 0.9;
      }
    }
  }