@import '../../global.scss';

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  overflow: hidden;

  @include tablet {
    flex-direction: row;
  }

  &__illustration {
    margin-bottom: 48px;

    img {
      height: 70%;

      @include tablet {
        height: 100%;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


    form {
      width: 70%;
      height: 70%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      gap: 30px;

      &>* {
        border: 0;
      }

      input,
      button,
      textarea {
        width: 300px;
        padding: 0 12px;

      }

      input[type='text'] {
        height: 50px;
      }

      input[type='text']:focus {
        border: .5px solid red;
      }

      textarea {
        height: 200px;
        padding-top: 16px;
      }

      button {
        height: 40px;
        color: #fff;
        background-color: crimson;
        cursor: pointer;

        &:hover {
          outline: none;
          background-color: rgb(149, 7, 35);
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}