@import '../../../global.scss';

:root {
    --desktop-newsletter: 1440px;
    --primary-newsletter: #FF6969;
    --primaryLight-newsletter: #f3dede;
    --darkBlue-newsletter: hsl(218, 44%, 22%);
    --accent-newsletter: #e1633d;
    --accenwt-newsletter: rgba(239, 175, 155, 0.54);
    --newsletterHeaderHeight: 220px;
    --newsletterFooterHeight: 200px;
}


.newsletter {
    background-color: #fff;

    @include desktop {
        position: relative;
        top: 150px;
        display: flex;
        flex-direction: row-reverse;
        margin: auto;
        border-radius: 14px;
        gap: 48px;
        max-width: 820px;
    }

    &__header {
        border-radius: 0 0 16px 16px;
        background-image: linear-gradient(180deg, var(--accent-newsletter), var(--primary-newsletter));
        padding-bottom: 24px;

        @include desktop {
            position: relative;
            right: 20px;
            border-radius: 14px;
            align-self: center;
            height: 500px;
            width: 350px;

            img {
                position: relative;
                top: 25%;
            }
        }
    }


    &__body {
        padding: 0 20px 16px;
        // margin: 16px 0;
        // min-height: calc(100vh - calc(var(--newsletterHeaderHeight) + var(--newsletterFooterHeight) + var(--modalHeaderHeight) + var(--modalFooterHeight) + var(--headerHeight) + var(--footerHeight)));


        &__lead {
            font-weight: 700;
            font-size: 34px;
            line-height: 1;
            margin-bottom: 20px;
        }

        &__para {
            font-weight: 500;
            text-align: left;
        }

        &__list {
            font-weight: 500;
            list-style: none;

            &--item {
                position: relative;
                left: -24px;
                background: url('../assets/images/icon-list.png') no-repeat left center;
                padding-left: 36px;
                margin: 8px 0;

            }
        }

        @include desktop {
            position: relative;
            top: 24px;

            width: 400px;

            &__lead {
                font-size: 44px;
            }
        }
    }

    &__footer {
        padding: 0 20px 0;

        @include tablet {
            padding: 0 20px 16px;
        }

        @include desktop {
    
            margin-top: 24px;
        }

        &__form {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            &__wrap {
                font-size: 12px;
                display: flex;
                justify-content: space-between;
                align-items: baseline;

            }

            &__label {
                margin-bottom: 8px;

                &-error {
                    display: none;
                    font-weight: 700;
                    color: var(--accent-newsletter);
                }
            }

            &__input {
                height: 54px;
                font-size: 14px;
                border-radius: 8px;
                border: 1px solid #999;
                padding: 14px;
                outline: none;

                &::placeholder {
                    color: #939090;
                }

                &:focus {
                    // border: 2px solid red;
                }

                &-error {
                    border: 1px solid var(--accent-newsletter);
                }
            }

            &__button {
                height: 54px;
                background-color: var(--darkBlue-newsletter);
                color: #fff;
                font-size: 15px;
                font-weight: 700;
                border-radius: 10px;
                margin: 20px 0;
                outline: none;
                cursor: pointer;

                &:hover {
                    background-color: #FF6969;
                    box-shadow: var(--boxShadow);
                    color: #fff;
                    border: none;

                }
            }
        }
    }


}