footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #5f7abf37;
    color: var(--darkBlue);
    height: var(--footerHeight);

    & span {
        color: hsl(227, 61%, 31%);
    }
}
/* media query */
@media only screen and (max-width:375px) {}