@import '../../global.scss';

.header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: var(--darkBlue);
  height: var(--headerHeight);
  z-index: 20;

  &>span {
    display: flex;
    max-width: 920px;
    margin: auto;
    padding: 0 12px;
    align-items: center;
    height: inherit;
  }


  & .logo {
    flex: 1;
    font-size: 24px;
    font-weight: 700;
    align-self: center;

    & a {
      text-decoration: none;
    }
  }

  & .nav-menu {

    &__list {
      display: none;

      &_itm {
        & a {
          font-weight: 600;
          font-size: 18px;
        }
      }

      @include desktop {
        display: flex;
        justify-content: center;
        gap: 24px;
      }

      &-active {
        position: absolute;
        top: calc(var(--headerHeight) - 16px);
        left: 200px;
        width: 250px;
        height: 100vh;
        z-index: 1;
        overflow: hidden;

        & li {
          padding: 8px;

          & a {
            font-size: 24px;
            font-weight: 500;
          }
        }

        @include tablet {
          left: calc(100vw - 200px);
        }
      }
    }
  }
}